<div *ngIf="this.message" class="card-container">
    <div *ngFor="let dish of message">
        <section class="dish-container">
            <img class="dish-img" src={{dish.image}} alt="spaghetti dish"/>
            <h3 class="dish-title">{{dish.title}}</h3>
            <div class="dish-info">
                <p>Health Score: {{dish.healthScore}}</p>
                <p>Price Per Serving: {{dish.pricePerServing}}</p>
                <p>Max Ready Time: {{dish.readyInMinutes}} minutes</p>
                <p>Vegetariano: {{dish.vegan}}</p>
            </div>  
            <div class="dish-actions">
                <a (click)="showModalDish(this.dish)"><img src="../../../assets/icons/info.svg"  alt="info action"/></a>
                <a (click)="addDish(this.dish)"><img src="../../../assets/icons/add.svg"  alt="add action"/></a>
            </div>
        </section>
    </div>
</div>
<br>
<mat-paginator [length]="this.message.length"
              [pageSize]="2"
              [pageSizeOptions]="[1,2,3,4,5]"
              aria-label="Select page">
</mat-paginator>
