<div *ngIf="this.message" class="card-container">
    <div *ngFor="let dish of message | paginate:page_size:page_number">
        <section class="dish-container">
            <img class="dish-img" src={{dish.image}} alt="CAMBIAR ESTO"/>
            <h3 class="dish-title">{{dish.title}}</h3>
            <div class="dish-info">
                <p>Health Score: {{dish.healthScore}}</p>
                <p>Price Per Serving: {{dish.pricePerServing}}</p>
                <p>Max Ready Time: {{dish.readyInMinutes}} minutes</p>
                <p>Vegetariano: {{dish.vegan}}</p>
            </div>  
            <div class="dish-actions">
                <a (click)="showModalDish(this.dish)"><img src="../../../assets/icons/info.svg"  alt="info action"/></a>
                <a (click)="addDish(this.dish)"><img src="../../../assets/icons/add.svg"  alt="add action"/></a>
            </div>
        </section>
    </div>
</div>

<mat-paginator [length]="message.length"
[pageSize]="page_size"
[pageSizeOptions]="[1,2,3,4,5]"
(page)="handlePage($event)">
</mat-paginator>
