<div class="search-bar">
    <form class="login-form" method="post" [formGroup]="searchForm" (ngSubmit)="search()">
         <span>I'd like to eat </span>
            <input
            (keyup)="checking()"
            type ="text"
            matInput
            [formControl]="control"
            [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option #thenBlock  *ngFor="let street of filteredStreets | async" [value]="street">
                    {{street}}
                </mat-option>
            </mat-autocomplete>
            <span> And I'm Vegan </span>
            <input
            type ="checkbox"
            name="checkbox"
            id="checkbox"
            formControlName="vegan"
            />
    </form>
    <button class="searchButton" (click)="search()">Buscar</button>
</div>
