.dish-container{
    display: flex;
    flex-direction: column;
    max-height: 30rem;
    align-items: center;
    width: 100%;
}

.dish-img{
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 40px;
    justify-content: center;
}

.dish-title{
    font-family: 'Dancing Script', cursive;
    color: green;
    text-align: center;
    font-size:xx-large;
    margin: 10px;
}

.info{
    color: rgb(236, 40, 105);
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
}

.dish-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}